@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: url("images/darkwall.webp");
  color: #fff;
  backdrop-filter: blur(4px);
  font-weight: 600;
  user-select: none;
}

/* Heading section */

.head-contain {
  margin-top: 3.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
}

.typing {
  width: 30ch;
  animation: type 2s steps(38), blink 2s step-start infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 5px 10px #000;
}

.typing h1, p {
  margin: 1rem;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes blink {
  100% {
    border-color: transparent;
  }
}

#about {
  padding-top: 6%;
}

/* Navigation Bar and hamburger*/

nav {
  background-color: transparent;
  padding: 5px;
}

/* Scroll Button */
#ScrollBtn {
  display: none;
  position: sticky;
  top: 680px;
  right: 30px;
  float: right;
  z-index: 10;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: rgba(0, 128, 128, 0.637);
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
}

#ScrollBtn:hover {
  background-color: turquoise;
  box-shadow: 0px 0px 5px turquoise;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #121212;
  overflow-x: hidden;
  transition: .5s;
}

.overlay-content {
  position: relative;
  top: 2%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: grey;
  display: block;
  transition: .3s;
}

.overlay a:hover, .overlay a:focus {
  animation: change 3s infinite ease;
}

@keyframes change {
  0%, 100% {
    color: tan;
    text-shadow: 0px 0px 10px tan;
  }

  25% {
    color: turquoise;
    text-shadow: 0px 0px 10px turquoise;
  }

  50% {
    color: palevioletred;
    text-shadow: 0px 0px 10px palevioletred;
  }
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.nav-logo {
  position: absolute;
  top: 48px;
  left: 42px;
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem;
  text-shadow: 0 0px 10px #000;
}

.select-text {
  margin: 12rem 0rem 0rem 2.5rem;
}

.selected-pro {
  width: 90%;
  display: flex;
  overflow-x: auto;
  margin: 0rem 0rem 0rem 2.2rem;
}

.selected-pro::-webkit-scrollbar {
  display: none;
}

.selected-item {
  width: 30%;
  height: auto;
  flex-shrink: 0;
  margin: 1rem .5rem 1rem .5rem;
  border-radius: 8px;
}

.selected-item img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 4px #000;
}

#Ham-icon {
  font-size: 1.8rem;
  cursor: pointer;
  padding: .2rem .5rem;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, turquoise, tan, palevioletred);
  border-image-slice: 1;
}

/* Image section */

.div1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 10%;
  width: 50%;
}

h2 {
  font-size: 2rem;
  text-shadow: 0px 0px 10px #000;
}

/* My skills section */

.div1 {
  text-align: justify;
  padding: 0% 10%;
}

#about-me, #cert-subhead {
  line-height: 30px;
}

#let {
  color: turquoise;
  font-style: italic;
  font-size: 1.2rem;
}

.container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  border-radius: 50px;
}

.skill, .skill2, .skill3, .skill4 {
  background: linear-gradient(to right, turquoise, tan, palevioletred);
  padding: .5rem;
  text-align: right;
  font-size: 20px;
  border-radius: 50px;
  margin: .2rem;
  animation-name: html;
  animation-duration: 2s;
}

.skill2 {
  animation-name: css;
}

.skill3 {
  animation-name: c;
}

.skill4 {
  animation-name: sass;
}

.html {
  width: 85%;
}

@keyframes html {
  from {
    width: 0%;
  }

  to {
    width: 85%;
  }
}

.css {
  width: 70%;
}

@keyframes css {
  from {
    width: 0%;
  }

  to {
    width: 70%;
  }
}

.c {
  width: 40%;
}

@keyframes c {
  from {
    width: 0%;
  }

  to {
    width: 40%;
  }
}

.sass {
  width: 50%;
}

@keyframes sass {
  from {
    width: 0%;
  }

  to {
    width: 50%;
  }
}

#certificate {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

#certificate a {
  color: #fff;
  text-align: center;
  font-size: large;
  padding: .5rem;
  margin: .3rem;
  text-decoration: none;
  background-color: teal;
  border-radius: 10px;
  border: none;
}

#certificate a:hover {
  background-color: turquoise;
  box-shadow: 0px 0px 10px turquoise;
}

/* Projects section */

.pro-container {
  width: 80%;
  display: flex;
  overflow-x: auto;
  margin: 0rem 0rem 2rem 9.5rem;
  background: transparent;
}

.pro-container::-webkit-scrollbar {
  display: none;
}

.slide-track {
  display: flex;
  width: calc(125px * 18);
  animation: autoscroll 40s linear infinite;
}

@keyframes autoscroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-125px * 9));
  }
}

.pro-item {
  width: 30%;
  height: auto;
  flex-shrink: 0;
  margin: 1rem .5rem 1rem .5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(31, 38, 135, 0.548);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.pro-item img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.pro-item:hover .pro-overlay {
  bottom: 0;
  height: 100%;
  border: 2px solid teal;
}

.pro-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.pro-content {
  white-space: nowrap;
  color: teal;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pro-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70%;
}

.pro-button a {
  text-decoration: none;
  border: 2px solid turquoise;
  color: turquoise;
  border-radius: 5px;
  padding: .5rem;
}

.pro-button a:hover {
  background-color: turquoise;
  color: white;
  box-shadow: 0px 0px 8px turquoise;
  transition: .3s ease;
}

.pro-para {
  color: teal;
}

/* UI Design Section */

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0rem 0rem 2rem 9.5rem;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 18%;
  padding: .5rem .5rem;
}

.column img {
  vertical-align: middle;
  margin-top: .8rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px #000;
  transition: transform .3s ease;
}

.column img:hover {
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

/* Contact me section */

.div2, .div3 {
  padding: 1% 10% 0;
}

.ani>h3 {
  font-size: x-large;
  color: turquoise;
  text-shadow: none;
}

input[type="text"], input[type="email"] {
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  border: none;
}

button {
  padding: 16px;
  background-color: turquoise;
  border: 2px solid turquoise;
  outline: none;
  transition: .3s ease;
  border-radius: 8px;
}

button:hover {
  background-color: transparent;
  color: turquoise;
}

/* Footer section */

footer {
  padding: 2% 10%;
  margin-top: 8%;
  background-color: black;
  opacity: 0.8;
}

footer>ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

footer>ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}

footer>ul li a {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: turquoise;
  font-size: 1.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 45x rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: .5s;
  overflow: hidden;
}

footer>ul li a:hover {
  transform: translateY(-20px);
}

footer>ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: .5s;
}

footer>ul li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

#copy {
  color: #ffffff;
  text-align: center;
}

#copy span {
  color: turquoise;
}

.CV {
  margin: 2rem 0 5rem 0;
}

.CV a {
  text-decoration: none;
  background-color: turquoise;
  border: 2px solid turquoise;
  color: black;
  padding: .4rem;
  margin-top: .4rem;
  border-radius: 10px;
  transition: .3s;
  padding: .6rem;
}

.CV a:hover {
  background-color: transparent;
  color: turquoise;
  box-shadow: 0px 0px 10px turquoise;
}

.skill-icon {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon i {
  font-size: 2.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 2rem;
  margin: 2rem;
  animation: glow 3s infinite ease;
  background: rgba(255, 255, 255, 0.137);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@keyframes glow {
  0%, 100% {
    color: violet;
    text-shadow: 0px 0px 10px violet;
  }

  25% {
    color: turquoise;
    text-shadow: 0px 0px 10px turquoise;
  }

  50% {
    color: palevioletred;
    text-shadow: 0px 0px 10px palevioletred;
  }
}

.div3 a {
  color: gray;
  font-size: 1.2rem;
}

.div3 a:hover {
  color: turquoise;
  text-shadow: 0px 0px 10px turquoise;
}

/* Media queries section */

@media screen and (max-width: 480px) {

  .typing h1, p {
    margin: .6rem;
  }

  .typing {
    font-size: 18px;
  }

  #counter {
    margin-top: 80%;
  }

  #ScrollBtn {
    top: 580px;
    right: 20px;
  }

  .div1, .div2, .div3, footer {
    padding: 5%;
    margin: 0;
  }

  .div1 img {
    padding: 0%;
  }

  input[type="checkbox"] {
    top: 11px;
    width: 45px;
    height: 25px;
  }

  input[type="checkbox"]::before {
    width: 20px;
    height: 20px;
  }

  input[type="checkbox"]:checked:before {
    transform: translateX(20px);
  }

  .overlay a {
    font-size: 1.5rem;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .nav-logo {
    display: none;
  }

  .overlay-content {
    text-align: left;
    margin-left: 5%;
    top: 1.2%;
  }

  .selected-pro {
    display: none;
  }

  .select-text {
    display: none;
  }

  #Ham-icon {
    font-size: 1.2rem;
  }

  #span1 {
    display: none;
  }

  .CV a {
    font-size: 15px;
  }

  footer>ul {
    padding: 0;
  }

  footer>ul li a {
    width: 35px;
    height: 35px;
    font-size: 1.2em;
  }

  .skill, .skill2, .skill3, .skill4 {
    padding: .3rem;
    font-size: 15px;
  }

  .skill-icon {
    margin: 2rem;
  }

  .skill-icon i {
    font-size: 1.2rem;
    padding: 1rem;
    margin: .2rem;
  }

  #certificate {
    margin: 2rem 0 0rem 0;
  }

  #certificate a {
    font-size: 1rem;
    display: inline-block;
  }

  .pro-container {
    width: 98%;
    margin: 0rem;
  }

  .pro-item {
    width: 98%;
  }

  .row {
    margin: .8rem;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .column img:hover {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
