@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  user-select: none;
}

p {
  margin: 1rem 0;
}

/* Navigation Bar and hamburger*/

nav {
  background-color: transparent;
  padding: 5px;
}

.nav-logo {
  display: inline;
  position: absolute;
  top: 48px;
  left: 42px;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem;
  animation: nav-logo 3s infinite ease;
}

@keyframes nav-logo {
  0%, 100% {
    color: tan;
  }

  25% {
    color: turquoise;
  }

  50% {
    color: palevioletred;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #121212;
  overflow-x: hidden;
  transition: .5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}

.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 2.8rem;
  color: grey;
  display: block;
  transition: .3s;
}

.overlay a:hover, .overlay a:focus {
  animation: change 3s infinite ease;
}

@keyframes change {
  0%, 100% {
    color: tan;
    text-shadow: 0px 0px 10px tan;
  }

  25% {
    color: turquoise;
    text-shadow: 0px 0px 10px turquoise;
  }

  50% {
    color: palevioletred;
    text-shadow: 0px 0px 10px palevioletred;
  }
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#Ham-icon {
  font-size: 1.8rem;
  cursor: pointer;
  padding: .2rem .5rem;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, turquoise, tan, palevioletred);
  border-image-slice: 1;
}

/* Header Section */
#main {
  display: flex;
  margin: 0 auto;
  height: 100vh;
}

.header-content {
  width: 50%;
}

.header {
  position: absolute;
  top: 40%;
  left: 2rem
}

.typing {
  font-size: 1.8rem;
  margin: 1rem 0rem;
}

#highlight {
  color: turquoise;
  font-weight: 900 !important;
}

/* CV Button */
.CV {
  margin: 2rem 0rem;
}

.CV a {
  text-decoration: none;
  background-color: turquoise;
  border: 2px solid turquoise;
  color: black;
  padding: .6rem;
  border-radius: 10px;
  transition: .3s;
}

.CV a:hover {
  background-color: transparent;
  color: turquoise;
  box-shadow: 0px 0px 10px turquoise;
}

#hire {
  margin: 0 1rem 0 1rem;
}

#vid-button {
  border-radius: 50%;
  padding: .8rem;
  font-size: 1.2rem;
}

.img-contain {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-contain>img {
  width: 90%;
}

/* Scroll Button */
#ScrollBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  float: right;
  z-index: 20;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: rgba(0, 128, 128, 0.637);
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
}

#ScrollBtn:hover {
  background-color: turquoise;
  box-shadow: 0px 0px 5px turquoise;
}

/* About Section */
#about {
  display: flex;
  margin: 0 auto;
  height: 100%;
}

.about-content {
  width: 50%;
  padding: 2rem 4rem;
}

#about-me {
  position: relative;
  top: 2%;
  line-height: 30px;
  text-align: justify;
}

#let {
  color: turquoise;
  font-style: italic;
  font-size: 1.5rem;
}

.about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 10px;
}

.skill-icon {
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon i {
  font-size: 3rem;
  padding: 1rem;
  margin: 1rem;
}

/* Skills Section */

.my-skills {
  padding: 0 5%;
  height: 100%;
}

.skills-container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  border-radius: 50px;
}

.skill, .skill2, .skill3, .skill4, .skill5 {
  background: linear-gradient(to right, turquoise, tan, palevioletred);
  padding: .5rem;
  text-align: right;
  font-size: 20px;
  border-radius: 50px;
  margin: .2rem;
  animation-name: html;
  animation-duration: 2s;
}

.skill2 {
  animation-name: css;
}

.skill3 {
  animation-name: c;
}

.skill4 {
  animation-name: sass;
}

.skill5 {
  animation-name: js;
}

.html {
  width: 85%;
}

@keyframes html {
  from {
    width: 0%;
  }

  to {
    width: 85%;
  }
}

.css {
  width: 70%;
}

@keyframes css {
  from {
    width: 0%;
  }

  to {
    width: 70%;
  }
}

.c {
  width: 40%;
}

@keyframes c {
  from {
    width: 0%;
  }

  to {
    width: 40%;
  }
}

.sass {
  width: 50%;
}

@keyframes sass {
  from {
    width: 0%;
  }

  to {
    width: 50%;
  }
}

.js {
  width: 20%;
}

@keyframes js {
  from {
    width: 0%;
  }

  to {
    width: 20%;
  }
}

#certificate {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

#certificate a {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  padding: .5rem;
  margin: .3rem;
  text-decoration: none;
  background-color: teal;
  border-radius: 10px;
  border: none;
}

#certificate a:hover {
  background-color: turquoise;
  box-shadow: 0px 0px 10px turquoise;
}

/* Projects Section */

#project {
  height: 100%;
  padding: 0 5%;
}

.pro-container {
  width: 100%;
  display: flex;
  overflow-x: auto;
  background: transparent;
}

.pro-container::-webkit-scrollbar {
  display: none;
}

.slide-track {
  display: flex;
  width: calc(125px * 18);
  animation: autoscroll 40s linear infinite;
}

@keyframes autoscroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-125px * 9));
  }
}

.pro-item {
  width: 30%;
  height: auto;
  flex-shrink: 0;
  margin: 1rem .5rem 1rem .5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(31, 38, 135, 0.548);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.pro-item img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.pro-item:hover .pro-overlay {
  bottom: 0;
  height: 100%;
  border: 2px solid teal;
}

.pro-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.pro-content {
  white-space: nowrap;
  color: teal;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pro-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70%;
}

.pro-button a {
  text-decoration: none;
  border: 2px solid turquoise;
  color: turquoise;
  border-radius: 5px;
  padding: .5rem;
}

.pro-button a:hover {
  background-color: turquoise;
  color: white;
  box-shadow: 0px 0px 8px turquoise;
  transition: .3s ease;
}

.pro-para {
  color: teal;
}

/* UI Design Section */

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 20%;
  padding: .5rem;
}

.column img {
  vertical-align: middle;
  margin-top: .8rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px #000;
  transition: transform .3s ease;
}

.column img:hover {
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

#toggle_see {
  display: none;
}

#be-link {
  text-decoration: none;
  color: turquoise;
  font-size: 1.2rem;
}

#be-link:hover {
  text-shadow: 0px 0px 10px turquoise;
}

/* Contact Section */

#contact {
  display: flex;
  height: 100%;
  padding: 0 5%;
}

.contact-content {
  width: 50%;
}

.contact-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-img>img {
  width: 80%;
}

input[type="text"], input[type="email"] {
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  border: none;
}

button {
  padding: 16px;
  background-color: turquoise;
  border: 2px solid turquoise;
  outline: none;
  transition: .3s ease;
  border-radius: 8px;
}

button:hover {
  background-color: transparent;
  color: turquoise;
}

/* Footer Section */

footer {
  padding: 2% 10%;
  margin-top: 2%;
  background: #232931;
}

footer>ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

footer>ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}

footer>ul li a {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: turquoise;
  font-size: 1.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 45x rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: .5s;
  overflow: hidden;
}

footer>ul li a:hover {
  transform: translateY(-20px);
}

footer>ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: .5s;
}

footer>ul li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

#copy {
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 0px 5px #000;
}

#copy span {
  color: turquoise;
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
}

/* Media Queries Section */

@media screen and (max-width: 480px) {
  
  /* Nav Bar Section */
  .nav-logo {
    display: none;
  }

  .overlay a {
    font-size: 1.5rem;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .nav-logo {
    display: none;
  }

  .overlay-content {
    text-align: left;
    margin-left: 5%;
    top: 5%;
  }

  #Ham-icon {
    font-size: 1.2rem;
  }

  /* Header Section */
  #main {
    flex-direction: column-reverse;
  }
  
  .header-content {
    width: 100%;
  }

  .header {
    top: 8%;
    left: 4%;
  }

  .typing{
    font-size: 2rem;
  }

  .typing >p{
    font-size: 1rem;
  }

  .CV {
    margin: .8rem 0rem;
  }

  .CV a {
    padding: .3rem;
    font-size: .8rem !important;
    border-radius: 8px;
  }

  #vid-button {
    padding: .5rem;
    font-size: .5rem;
  }

  .img-contain {
    width: 100%;
    padding: 1rem;
  }
  
  .img-contain>img {
    width: 100%;
  }

  #ScrollBtn {
    bottom: 30px;
    right: 30px;
  }

  /* About Section */
  #about{
    flex-direction: column;
    margin-top: 4rem;
  }

  .about-content {
    width: 100%;
    padding: 2rem;
  }
  
  .about-img {
    width: 100%;
  }
  
  .skill-icon i {
    font-size: 1.8rem;
    padding: .4rem;
    margin: .4rem;
  }

  /* Skills Section */
  .skill, .skill2, .skill3, .skill4, .skill5 {
    padding: .3rem;
    font-size: 15px;
  }

  #certificate {
    margin: 2rem 0 0rem 0;
  }

  #certificate a {
    font-size: 1rem;
    display: inline-block;
  }

  /* Project Section */
  .pro-container {
    width: 98%;
    margin: 0rem;
  }

  .pro-item {
    width: 98%;
  }

  .slide-track {
    width: calc(210px * 18);
  }

  @keyframes autoscroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-210px * 9));
    }
  }

  .row {
    margin: .8rem;
  }

  .row_toggle {
    height: 424vw;
    overflow: hidden;
  }

  /*Toggle function */
  #toggle_see {
    font-size: .8rem;
    text-align: center;
    border: 2px solid turquoise;
    border-radius: 10px;
    padding: .6rem;
    margin: 0 2rem;
    display: block;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .column img:hover {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }

  /* Contact Section */

  .contact-content{
    width: 100%;
  } 

  .contact-img{
    display: none;
  }
  
  input[type="checkbox"] {
    top: 11px;
    width: 45px;
    height: 25px;
  }

  input[type="checkbox"]::before {
    width: 20px;
    height: 20px;
  }

  input[type="checkbox"]:checked:before {
    transform: translateX(20px);
  }


   /* Footer Section */
   footer {
    padding: 5%;
    margin: 0;
  }

  footer>ul {
    padding: 0;
  }

  footer>ul li a {
    width: 35px;
    height: 35px;
    font-size: 1.2em;
  }

}
